*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 100vh;
    background: #060606;
    display: flex;
    align-items: center;
    justify-content: center;
}

form{
    background: #fff;
    width: 600px;
    height: 55px;
    display: flex;
}

form input{
    flex: 1;
    border: none;
    outline: none;
}

form button{
    background: tomato;
    padding: 10px 50px;
    border: none;
    outline: none;
    color: #fff;
    letter-spacing: 1px;
    cursor: pointer;
}

form .fa-search{
    align-self: center;
    padding: 10px 20px;
    color: #777;
}